body {
    font-family: Verdana;
    color:#000;
    background:#707070;   
}
.wrap {
    width:600px;    
    margin: auto ;

}
.para {
    text-align: center;
    margin: 20px 20px;
    background:#909090;   
    padding:20px 10px;
}
.title {
    padding: 0px 0 0;
    font-weight: bold;
}
